:root {
    --Prim: #f3f3f3;
    --Nav: #92736C;
    --br: rgb(105, 54, 0);
    --mBG: rgba(0,0,0,0.9);
    --Shader: #222222;
    --ShaderL: #252525;
    --noBG: rgba(0,0,0,0);
    --HeroTxt: #e9e9e9;
    --selected: #c09a8f;
    --Cn: #bd7e00;
    --CG: #bd7e00da;
    --Ct: #bd7e00c0;
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 15vh;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--Prim);
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.3rem;
    height: fit-content;
}

nav {
    font-family:'Poppins';
    width: 100%;
    height: 12vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--Nav);
    z-index: 1;
}

nav h1 {
    align-self: center;
    width: fit-content;
    margin: 5px;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

#navImg {
    width: 30%;
    max-width: 80px;
    margin: 15px;
    height: 80px;
    background-image: url(./src/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown {
    width: 30%;
    max-width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

section div {
    width: 100%;
    height: 15%;
    border-radius: 8px;
    background-color: var(--Prim);
    border: solid var(--br) 2px;
    transition: ease-in 0.2s;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 0;
    min-width: 25vw;
    width: max-content;
    height: fit-content;
    min-height: 10vh;
    background-color: var(--Prim);
    border: solid var(--br) 3px;
    text-align: center; 
    transition: ease-in 0.5s;
}

.dropdown-content a, footer a {
    width: 100%;
    padding: 10px;
    align-self: center;
    border-bottom: var(--br) solid 3px;
    text-decoration: none;
    offset: 100px;
    transition: ease-in 0.5s;
}

.dropdown-content a:visited, .dropdown-content a:link {
    color: var(--selected);
}

.dropdown:hover div {
    background-color: var(--selected);
}

.dropdown-content a:hover {
    color: var(--br);
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.chevArea {
    top: 3vh;
    left: 75%;
    position: absolute;
    /* width: 50px; */
    height: 50px;
    cursor: pointer;
}

.limEv {
    height: 50px;
    width: fit-content;
    transition: 0.3s;
    color: var(--br);
}

.navMod {
    background-color: var(--HeroTxt);
    width: max-content;
    position: absolute;
    right: 20%;
    top: 6vh;
    padding: 4px;
    border: solid 3px var(--br);
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.navRed {
    word-wrap: none;
    word-break: none;
}
.chevArea:hover .limEv {
    color: var(--CG);
}

.chevArea:hover .navMod {
    display: block;
}

footer {
    width: auto;
    height: fit-content;
    background-color: var(--br);
    text-align: center;
}

footer section {
    display: flex;
    justify-content: space-around;
}


footer a:visited, footer a:link {
    font-family: 'Poppins';
    color: var(--selected);
}

.fin {
    font-family: "Poppins";
    color: var(--Shader);
    text-align: center;
    height: fit-content;
    background-color: var(--Ct);
}

footer a:hover {
    color: var(--CG);
}

.modal {
    position: fixed;
    margin: auto;
    cursor: pointer;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--noBG);
}

.modal img {
    max-height: 80vh;
    cursor: default;
}

.modalImg {
    max-width: 80vw;
    border-radius: 10px;
    border: solid 2px var(--br);
    padding: auto;
    cursor: pointer;
}

.modal::backdrop {
    background-color: var(--mBG);
}

.modalH {
    position: fixed;
    margin: auto;
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 5px;
    outline: none;
    border: var(--Cn) 3px solid;
}

.modalH::backdrop {
    background-color: var(--mBG);
}

.modalSection {
    width: 80vw;
    height: fit-content;
    min-height: 20vh;
    background-color: var(--Ct);
    cursor: default;
}

.modalH1 {
    font-family: 'Poppins';
    margin: 0;
    border-bottom: var(--Shader) 3px solid;
}

.modalP {
    font-size: 2rem;
    font-family: 'Poppins';
    margin: 0 10px;
}

.modalSectionLM {
    width: 80vw;
    height: fit-content;
    min-height: 20vh;
    background-color: var(--Prim);
    cursor: default;    
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.navLM {
    font-family:'Poppins';
    width: 100%;
    height: 12vh;
    position: sticky;
    top: 0;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--selected);
    z-index: 1;
}

.navArea {
    width: 90%;
    border-radius: 4px;
    height: max-content;
    background-color: var(--Nav);
    justify-content: space-around;
    border: solid 2px var(--br);
}

.hdLM {
    /* background-color: var(--CG); */
    margin: 10px;
    padding: 5px;
    border: solid 2px var(--br);
    width: max-content;
    border-radius: 4px;
    cursor: pointer;
}

.hdSelected {
    background-color: var(--CG);
}


  
.imgMT {    
    cursor: pointer;
    width: 50%;
    /* padding: 5px; */
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
    border-top: 3px solid var(--Cn);
    border-bottom: 3px solid var(--Cn);
    object-position: 0 30%;

}

  
@media screen and (max-width: 599px) {
    .card-tall,
    .card-wide {
      grid-row: span 1 / auto;
      grid-column: span 1 / auto;
    }
  }
@media (max-width: 800px) {

    .chevArea {
        left: 80%;
    }

    .limEv {
        height: 40px;

    }
}

@media (max-width: 620px) {

    #navImg {
        width: 30%;
        max-width: 60px;
        margin: 15px;
        height: 60px;
        background-image: url(./src/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .dropdown {
        width: 20%;
        max-width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 15px;
        cursor: pointer;
    }

    .imgMT {
        min-height: 300px;
        max-height: 300px;
    }
}

@media (max-width: 550px) {

    nav h1 {
        margin: 15px;
    }

    .chevArea {
        left: 70%; 
    }
}

@media (max-width: 520px) {

}